html {
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#page {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/background.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
}


#central-left-section {
    transform: translateY(1.5rem);
    width: 40%;
    height: 70%;
    background-image: url('../assets/left-background.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    border-top-left-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
#left-section-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 80%;
    align-self: center;
    margin-top: 15rem;
}
#left-section-text h1 {
    font-size: 2.5rem;
    color: white;
    width: 60%;
}
#left-section-text h1 span {
    color: rgb(57, 209, 184);
}

#left-section-text p {
    font-size: 1.3rem;
    color: rgb(218, 218, 218);
    width: 70%;
}
#sign-up-with {
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;
    margin-right: 3rem;
    margin-bottom: 5rem;
    width: 30%;
}
#sign-up-with p {
    font-size: 0.8rem;
}
#sign-up-with div {
    display: flex;
    gap: 0.2rem;
}
#sign-up-with div a {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0.7rem;
    background-color: white;
    color: black;
    border-radius: 50%;
}
.green-line {
    background-color: rgb(57, 209, 184);
    width: 100%;
    height: 1.5%;
}
#green-line-left {
    position: absolute;
    bottom: 0;
}
#green-line-right {
    position: absolute;
    top: 0;
}


#central-right-section {
    transform: translateY(-1.5rem);
    background-color: white;
    width: 40%;
    height: 70%;
    border-bottom-right-radius: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#form-section h2 {
    font-size: 2rem;
}
#form-section p {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
#form-section p a {
    font-size: 0.8rem;
    text-decoration: none;
    color: rgb(37, 211, 255);
}
form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}
.input-section {
    border-bottom: 0.15rem solid rgb(218, 218, 218);
    color: rgb(128, 128, 128);
    padding-bottom: 0.8rem;
}
form div input {
    font-size: 1rem;
    border: none;
}
form div input::placeholder {
    color: rgb(128, 128, 128);
}
form div input:focus {
    outline: none;
}
.checkbox-section input[type="checkbox"] {
    display: none;
}
.checkbox-section label {
    font-weight: bold;
    color: black;
    position: relative;
    padding-left: 3rem; 
}
.checkbox-section label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgb(57, 209, 184);
}
.checkbox-section input[type="checkbox"]:checked + label::after {
    content: "X";
    position: absolute;
    left: 0.55rem;
    top: 50%;
    transform: translateY(-55%);
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
}
#signup-button {
    width: 10rem;
    padding: 1.5rem;
    background-color: rgb(57, 209, 184);
    color: black;
    font-weight: bold;
    border: none;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 3rem;
}